@font-face
{
	font-family:"Kingthings Calligraphica";
	src: url("Kingthings_Calligraphica_2.ttf")format('truetype'),
	url("Kingthings_Calligraphica_Light.ttf")format('truetype'),
	url("Kingthings_Calligraphica_Italic.ttf")format('truetype');
	
	
		
}

body

{
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	background-image: url("images/sun.jpg");
	background-attachment: fixed;
	
}

h1
{
	color: #D9DF1E;
	font-family: Kingthings Calligraphica, Times New Roman,Verdana ;
	text-shadow: 2px 4px 4px black;
	font-size: 45px;
	font-style: italic;
	font-weight: bold;
	text-align: center;
	
}

#pho

{
	border: #D9DF1E double;
	box-shadow: 6px 6px 10px #D9DF1E;
	
	
	
	
}

#pre

{
	
	display: flex;
	justify-content: space-around;
	align-items: center;
	
} 

#moi

{
	background-image: url("images/turquoise.jpg");
	margin-left:-7.8px;
	margin-right:-7.8px;
	margin-top:-7.8px;
}

#qualification

{
	display: flex;
	justify-content: space-around;
	
}


#resume
{
	display: flex;
	flex-direction: column;
}

.identite
{

	border : outset white;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 6px 6px 10px white;
	height:17%;
	width: 350px;
	padding : 30px;
	padding-top: 10px;
	margin : 15px;
	font-family: Cambria,Verdana, Times New Roman;
	
	

}


#id1

{
	
	
	border : outset white ;
	box-shadow: 6px 6px 10px white;
	border-radius: 10px 10px 10px 10px;
	height:15%;
	margin : 15px;
	margin-top: 30px;
	padding-left : 10px;
	padding-top: 110px;
	text-align: center;
	font-family: Cambria,Verdana, Times New Roman;
	
	
} 

#acras_morue

{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color: yellow;
}

.motivation

{
	font-family: Cambria,Verdana, Times New Roman;
	font-size: 16px;
	
}
h2
{
	font-family: Segoe UI Semibold, Cambria;
	font-size: 25px;
	color: white;
	text-align: center;
	font-style : italic;
	

}

.p

{
	border-bottom: outset white;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 6px 0px 20px white;
	width: 100 px;
	padding-left: 15 px;
	padding-right: 10px;
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 12px;
	text-align: justify;
	
}


h4,p
{
	
	padding-left : 30px;
	text-align: left;
}

ol li
{
	
	padding-left : 30 px;
	font-family: Cambria,Verdana, Times New Roman;
	font-size: 16px;
}

.projet

{
	
	padding-left : 10%;
}

.projet li 

{
	padding-left : 30 px;
	font-family: Cambria,Verdana, Times New Roman;
	font-size: 16px;
	
}

h4
{
	font-size : 16px;
	font-family: Cambria, Georgia;
	
	
}

li
{
	margin: 20px;
}

h4 p
{
	font-family: Cambria,Verdana, Times New Roman;
	font-size: 16px;
}

a
{
	color: #DBEF14;
	text-decoration: underline;
}


a:hover

{
	color : #8BEA22;
	font-weight: bold;
	
}

.image

{
	text-align: center;
	
	
}

#images1

{
	text-align: center;
	overflow: scroll;
} 

#embauche
{ 
	font-weight: bold;
} 

.logo

{
	margin-top: 15px;
	box-shadow: 6px 6px 60px white;
	
}

.effet
{
	box-shadow: 6px 6px 60px white;
}

#description
{
	margin-left: 60px;
	
}

#projet1 li 
{
	font-family: Cambria,Verdana, Times New Roman;
	font-size: 16px;
}